.small-text {
  font-size: 15px;
}

.ellipsis-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 2px solid green;
  width: 80%;
  text-align: center;
  padding-bottom: 5px;
}

.card:hover,
.small-text:hover {
}


.prodcards {
  text-decoration: none;
}